mixin socialNetworks()
    img(src='./img/social_icon__facebook.png' width='30px' height='30px')
    img(src='./img/social_icon__instagram.png' width='30px' height='30px')
    img(src='./img/social_icon__twitter.png' width='30px' height='30px')
    img(src='./img/social_icon__youtube.png' width='30px' height='30px')