@import "./_colors.scss";
@import "./mixins.scss";
.pagination-container {
    display: flex;
    .page {
        width: 35px;
        height: 35px;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 8px;
    }
    .active {
        background-color: $primary-linkHover;
    }
}